<%-include('../partials/header.ejs')-%>
<link rel="stylesheet" href="/filepond/dist/filepond.css">
<link rel="stylesheet" href="/filepond-plugin-media-preview/dist/filepond-plugin-media-preview.css">
<link rel="stylesheet" href="/filepond-plugin-image-edit/dist/filepond-plugin-image-edit.css">
<link rel="stylesheet" href="/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css">
<!-- video -->
<link rel="stylesheet" href="/filepond-plugin-video-preview/dist/filepond-plugin-video-preview.css">
<div class="flex justify-between p-3">
    <div class="flex items-center">
        <a class="hover:bg-slate-200 rounded-full p-2 ml-2" href="/">
            <svg fill="#000000" width="30px" height="30px" viewBox="0 0 32 32"
                style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;" version="1.1"
                xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:serif="http://www.serif.com/"
                xmlns:xlink="http://www.w3.org/1999/xlink">
                <path
                    d="M25.468,14.508l-20.967,-0.008c-0.828,-0 -1.501,0.672 -1.501,1.499c-0,0.828 0.672,1.501 1.499,1.501l21.125,0.009c-0.107,0.159 -0.234,0.306 -0.377,0.439c-3.787,3.502 -9.68,8.951 -9.68,8.951c-0.608,0.562 -0.645,1.511 -0.083,2.119c0.562,0.608 1.512,0.645 2.12,0.083c-0,0 5.892,-5.448 9.68,-8.95c1.112,-1.029 1.751,-2.47 1.766,-3.985c0.014,-1.515 -0.596,-2.968 -1.688,-4.018l-9.591,-9.221c-0.596,-0.574 -1.547,-0.556 -2.121,0.041c-0.573,0.597 -0.555,1.547 0.042,2.121l9.591,9.221c0.065,0.063 0.127,0.129 0.185,0.198Z" />
                <g id="Icon" />
            </svg>
        </a>
        <h1>ุงูููู ุงูุดุฎุตู</h1>
    </div>
</div>
<div class="container-profile border-t-2 border-b-2 p-3 flex flex-col gap-4">
    <div class="profile-img flex flex-col items-center cursor-pointer bg-slate-300 p-4">
        <div class="ml-2">
            <img class="h-48 w-full rounded-full border-4 object-contain "
                src="<%=user.avatar.replace('uploads','')%>" alt="logo">
        </div>
        <div>
            <h1><%=user.name%></h1>
        </div>
        <div class="mt-3">
            <p><%=user.description%></p>
        </div>
    </div>
    <div class="info flex flex-col gap-3">
        <h1 class="border-b-2 mb-3 p-3 font-bold">ูุนูููุงุช ุงูููู ุงูุดุฎุตู</h1>
        <div class="flex gap-3">
            <div>ุงุณู ุงููุณุชุฎุฏู</div>
            <span><%=user.name%></span>
        </div>
        <div class="flex gap-3">
            <div>ุฑูู ุงููุงุชู</div>
            <span>5555555556666</span>
        </div>
        <div class="flex gap-3">
            <div>ุชุงุฑูุฎ ุงูุงูุถูุงู</div>
            <span><%=user.createdAt%></span>
        </div>
        <div class="flex items-center gap-3">
            <div class="bg-slate-200 rounded-md">
                <svg width="30px" height="30px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4 7.00005L10.2 11.65C11.2667 12.45 12.7333 12.45 13.8 11.65L20 7" stroke="#000000"
                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    <rect x="3" y="5" width="18" height="14" rx="2" stroke="#000000" stroke-width="2"
                        stroke-linecap="round" />
                </svg>
            </div>
            <span><%=user.email%></span>
        </div>
    </div>
    <div>
        <h1 class="font-bold text-3xl mt-12">ุงูููุดูุฑุงุช</h1>
    </div>
</div>
<div class="container-PostShow w-full pb-4">
    <%posts.forEach((post)=>{%>
    <div class="container-post border-t-2 border-b-2 p-3">
        <div class="post-profile flex justify-between">
            <div class="profile-img flex items-center cursor-pointer">
                <div class="ml-2">
                    <img class="h-14 w-14 rounded-full border-2 object-cover"
                        src="<%= user.avatar.replace('uploads','')%>" alt="logo">
                </div>
                <div>
                    <h1><%= user.name%></h1>
                </div>
            </div>
        </div>
        <div class="post-text">
            <p>
                <%= post.content.replace(/https?:\/\/[^\s]+/g,`<a href="$&" target="_blank">$&</a>`)%>
            </p>
        </div>
        <div class="post-audio flex flex-wrap gap-3">
            <%post.files.forEach((file)=>{%>
            <%if(file.match(imageExtensions)){%>
            <img class="rounded-md pt-1" src="<%=file.replace('uploads','')%>" alt="img">
            <%}else{%>
            <video class="rounded-md pt-1" controls>
                <source src="<%=file.replace('uploads','')%>" type="video/mp4">
                <source src="<%=file.replace('uploads','')%>" type="video/ogg">
                ูุชุตูุญู ูุง ูุฏุนู ุชุดุบูู ุงูููุฏูู.
            </video>
            <%}%>
             <%})%>
        </div>
        <div class="flex pt-4">
            <%if(post.likes.length > 0){%>
            <form action="/post/like/users" method="post">
                <input type="hidden" name="postId" value="<%=post._id%>">
                <button class="text-center">
                    <span class="likePost">
                        <%=post.likes.length%>
                        <%=post.lastLike._id == user._id? 'ุงูุช':post.lastLike.name%>
                        <%=post.likes.length>1?'ูุงุฎุฑูู':''%></span>
                </button>
            </form>
            <%}%>
                </div>
                <div class="flex justify-between p-4 pt-0">
                    <div>
                       <button onclick="addLike(this,'<%=encodeURIComponent(post._id)%>')">
            <svg width="40px" height="40px" viewBox="0 0 24 24"
                fill="<%=post.likes.includes(user._id)? '#000000':'none'%>" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M7.47998 18.35L10.58 20.75C10.98 21.15 11.88 21.35 12.48 21.35H16.28C17.48 21.35 18.78 20.45 19.08 19.25L21.48 11.95C21.98 10.55 21.08 9.34997 19.58 9.34997H15.58C14.98 9.34997 14.48 8.84997 14.58 8.14997L15.08 4.94997C15.28 4.04997 14.68 3.04997 13.78 2.74997C12.98 2.44997 11.98 2.84997 11.58 3.44997L7.47998 9.54997"
                    stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10" />
                <path
                    d="M2.38 18.35V8.55002C2.38 7.15002 2.98 6.65002 4.38 6.65002H5.38C6.78 6.65002 7.38 7.15002 7.38 8.55002V18.35C7.38 19.75 6.78 20.25 5.38 20.25H4.38C2.98 20.25 2.38 19.75 2.38 18.35Z"
                    stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
            </button>
        </div>
        <div class="hover:bg-gray-200 rounded-xl">
            <form action="/post/comment" method="post">
                <input type="hidden" name="postId" value="<%= post._id%>">
                <button>
                    <svg width="40px" height="40px" viewBox="0 -0.5 25 25" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M5.5 12C5.49988 14.613 6.95512 17.0085 9.2741 18.2127C11.5931 19.4169 14.3897 19.2292 16.527 17.726L19.5 18V12C19.5 8.13401 16.366 5 12.5 5C8.63401 5 5.5 8.13401 5.5 12Z"
                            stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        <path
                            d="M9.5 13.25C9.08579 13.25 8.75 13.5858 8.75 14C8.75 14.4142 9.08579 14.75 9.5 14.75V13.25ZM13.5 14.75C13.9142 14.75 14.25 14.4142 14.25 14C14.25 13.5858 13.9142 13.25 13.5 13.25V14.75ZM9.5 10.25C9.08579 10.25 8.75 10.5858 8.75 11C8.75 11.4142 9.08579 11.75 9.5 11.75V10.25ZM15.5 11.75C15.9142 11.75 16.25 11.4142 16.25 11C16.25 10.5858 15.9142 10.25 15.5 10.25V11.75ZM9.5 14.75H13.5V13.25H9.5V14.75ZM9.5 11.75H15.5V10.25H9.5V11.75Z"
                            fill="#000000" />
                    </svg>
                </button>
            </form>
        </div>
        <div class="hover:bg-gray-200 rounded-xl" onclick="share(this)">
            <svg width="40px" height="40px" viewBox="0 0 24 24" id="share" xmlns="http://www.w3.org/2000/svg">
                <rect id="Rectangle_3" data-name="Rectangle 3" width="24" height="24" fill="none" />
                <path id="Rectangle" d="M12,4V0l8,7-8,7V10S0,9.069,0,14.737C0,3.4,12,4,12,4Z" transform="translate(2 5)"
                    fill="none" stroke="#000000" stroke-miterlimit="10" stroke-width="1.5" />
            </svg>
        </div>
        <div class="hidden absolute right-8 z-50 bg-slate-200 p-4">
            <button class="close-share text-6xl hover:text-orange-500">
                x
            </button>
            <p class="border-b border-gray-800 mb-8">
                ูุดุงุฑูุฉ ุงูููุดูุฑ
            </p>
            <div class="flex flex-col gap-4">
                <button class="flex pl-40 hover:text-orange-500" onclick="shareWhatsapp('<%=encodeURIComponent(post._id)%>')">
                    <svg width="30px" height="30px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M17.6 6.31999C16.8669 5.58141 15.9943 4.99596 15.033 4.59767C14.0716 4.19938 13.0406 3.99622 12 3.99999C10.6089 4.00135 9.24248 4.36819 8.03771 5.06377C6.83294 5.75935 5.83208 6.75926 5.13534 7.96335C4.4386 9.16745 4.07046 10.5335 4.06776 11.9246C4.06507 13.3158 4.42793 14.6832 5.12 15.89L4 20L8.2 18.9C9.35975 19.5452 10.6629 19.8891 11.99 19.9C14.0997 19.9001 16.124 19.0668 17.6222 17.5816C19.1205 16.0965 19.9715 14.0796 19.99 11.97C19.983 10.9173 19.7682 9.87634 19.3581 8.9068C18.948 7.93725 18.3505 7.05819 17.6 6.31999ZM12 18.53C10.8177 18.5308 9.65701 18.213 8.64 17.61L8.4 17.46L5.91 18.12L6.57 15.69L6.41 15.44C5.55925 14.0667 5.24174 12.429 5.51762 10.8372C5.7935 9.24545 6.64361 7.81015 7.9069 6.80322C9.1702 5.79628 10.7589 5.28765 12.3721 5.37368C13.9853 5.4597 15.511 6.13441 16.66 7.26999C17.916 8.49818 18.635 10.1735 18.66 11.93C18.6442 13.6859 17.9355 15.3645 16.6882 16.6006C15.441 17.8366 13.756 18.5301 12 18.53ZM15.61 13.59C15.41 13.49 14.44 13.01 14.26 12.95C14.08 12.89 13.94 12.85 13.81 13.05C13.6144 13.3181 13.404 13.5751 13.18 13.82C13.07 13.96 12.95 13.97 12.75 13.82C11.6097 13.3694 10.6597 12.5394 10.06 11.47C9.85 11.12 10.26 11.14 10.64 10.39C10.6681 10.3359 10.6827 10.2759 10.6827 10.215C10.6827 10.1541 10.6681 10.0941 10.64 10.04C10.64 9.93999 10.19 8.95999 10.03 8.56999C9.87 8.17999 9.71 8.23999 9.58 8.22999H9.19C9.08895 8.23154 8.9894 8.25465 8.898 8.29776C8.8066 8.34087 8.72546 8.403 8.66 8.47999C8.43562 8.69817 8.26061 8.96191 8.14676 9.25343C8.03291 9.54495 7.98287 9.85749 8 10.17C8.0627 10.9181 8.34443 11.6311 8.81 12.22C9.6622 13.4958 10.8301 14.5293 12.2 15.22C12.9185 15.6394 13.7535 15.8148 14.58 15.72C14.8552 15.6654 15.1159 15.5535 15.345 15.3915C15.5742 15.2296 15.7667 15.0212 15.91 14.78C16.0428 14.4856 16.0846 14.1583 16.03 13.84C15.94 13.74 15.81 13.69 15.61 13.59Z"
                            fill="#000000" />
                    </svg>
                    <span>ูุงุชุณุงุจ</span>
                </button>
                <button class="flex hover:text-orange-500" onclick="shareTelegram('<%=encodeURIComponent(post._id)%>')">
                    <svg width="30px" height="30px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12ZM12.3583 9.38244C11.3857 9.787 9.44177 10.6243 6.52657 11.8944C6.05318 12.0827 5.8052 12.2669 5.78263 12.4469C5.74448 12.7513 6.12559 12.8711 6.64455 13.0343C6.71515 13.0565 6.78829 13.0795 6.86327 13.1038C7.37385 13.2698 8.06068 13.464 8.41773 13.4717C8.74161 13.4787 9.1031 13.3452 9.50219 13.0711C12.226 11.2325 13.632 10.3032 13.7202 10.2831C13.7825 10.269 13.8688 10.2512 13.9273 10.3032C13.9858 10.3552 13.98 10.4536 13.9738 10.48C13.9361 10.641 12.4401 12.0318 11.6659 12.7515C11.4246 12.9759 11.2534 13.135 11.2184 13.1714C11.14 13.2528 11.0601 13.3298 10.9833 13.4038C10.509 13.8611 10.1532 14.204 11.003 14.764C11.4114 15.0331 11.7381 15.2556 12.0641 15.4776C12.4201 15.7201 12.7752 15.9619 13.2347 16.2631C13.3517 16.3398 13.4635 16.4195 13.5724 16.4971C13.9867 16.7925 14.3589 17.0579 14.8188 17.0155C15.086 16.991 15.362 16.7397 15.5022 15.9903C15.8335 14.2193 16.4847 10.382 16.6352 8.80081C16.6484 8.66228 16.6318 8.48498 16.6185 8.40715C16.6051 8.32932 16.5773 8.21842 16.4761 8.13633C16.3563 8.03911 16.1714 8.01861 16.0886 8.02C15.7125 8.0267 15.1354 8.22735 12.3583 9.38244Z"
                            fill="#000000" />
                    </svg>
                    <span>ุชูุฌุฑุงู</span>
                </button>
                <button class="flex hover:text-orange-500" onclick="shareCopyLink('<%=encodeURIComponent(post._id)%>')">
                    <svg width="30px" height="30px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink">
                        <!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
                        <title>ic_fluent_copy_link_24_regular</title>
                        <desc>Created with Sketch.</desc>
                        <g id="๐-Product-Icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="ic_fluent_copy_link_24_regular" fill="#212121" fill-rule="nonzero">
                                <path
                                    d="M13.7533481,2 C14.9105985,2 15.863488,2.8749731 15.9865561,3.9994587 L17.75,4 C18.940864,4 19.9156449,4.92516159 19.9948092,6.09595119 L20,6.25 L20,12.25 C20,12.6642136 19.6642136,13 19.25,13 C18.8703042,13 18.556509,12.7178461 18.5068466,12.3517706 L18.5,12.25 L18.5,6.25 C18.5,5.87030423 18.2178461,5.55650904 17.8517706,5.50684662 L17.75,5.5 L15.6182905,5.49983563 C15.214809,6.09910034 14.5301141,6.49330383 13.7533481,6.49330383 L10.2466519,6.49330383 C9.46988587,6.49330383 8.78519098,6.09910034 8.38170952,5.49983563 L6.25,5.5 C5.87030423,5.5 5.55650904,5.78215388 5.50684662,6.14822944 L5.5,6.25 L5.5,19.754591 C5.5,20.1342868 5.78215388,20.448082 6.14822944,20.4977444 L6.35177056,20.5114376 C6.71784612,20.5611 7,20.8748952 7,21.254591 C7,21.6688046 6.66421356,22.004591 6.25,22.004591 C5.05913601,22.004591 4.08435508,21.0794294 4.00519081,19.9086398 L4,19.754591 L4,6.25 C4,5.05913601 4.92516159,4.08435508 6.09595119,4.00519081 L6.25,4 L8.01344395,3.9994587 C8.13651196,2.8749731 9.08940148,2 10.2466519,2 L13.7533481,2 Z M17.25,14.5 L18.25,14.5 C20.3210678,14.5 21.9999918,16.1789322 21.9999918,18.25 C21.9999918,20.2542592 20.4276389,21.8912737 18.4522792,21.994802 L18.2534432,22 L17.2534432,22.0045992 C16.839234,22.0064847 16.5019095,21.6722434 16.4999918,21.2580342 C16.4982641,20.8783424 16.778975,20.5632552 17.1448187,20.5119127 L17.2465568,20.5045989 L18.25,20.5 C19.4926407,20.5 20.4999918,19.4926407 20.4999918,18.25 C20.4999918,17.059136 19.5748384,16.0843551 18.4040488,16.0051908 L18.25,16 L17.25,16 C16.8357864,16 16.4999918,15.6642136 16.4999918,15.25 C16.4999918,14.8703042 16.7821539,14.556509 17.1482294,14.5068466 L17.25,14.5 L18.25,14.5 L17.25,14.5 Z M12.25,14.5 L13.25,14.5 C13.6642136,14.5 14,14.8357864 14,15.25 C14,15.6296958 13.7178461,15.943491 13.3517706,15.9931534 L13.25,16 L12.25,16 C11.0073593,16 10,17.0073593 10,18.25 C10,19.440864 10.9251616,20.4156449 12.0959512,20.4948092 L12.25,20.5 L13.25,20.5 C13.6642136,20.5 14,20.8357864 14,21.25 C14,21.6296958 13.7178461,21.943491 13.3517706,21.9931534 L13.25,22 L12.25,22 C10.1789322,22 8.5,20.3210678 8.5,18.25 C8.5,16.2457408 10.0723611,14.6087263 12.0508414,14.505198 L12.25,14.5 L13.25,14.5 L12.25,14.5 Z M12.25,17.5 L18.25,17.5 C18.6642136,17.5 19,17.8357864 19,18.25 C19,18.6296958 18.7178461,18.943491 18.3517706,18.9931534 L18.25,19 L12.25,19 C11.8357864,19 11.5,18.6642136 11.5,18.25 C11.5,17.8703042 11.7821539,17.556509 12.1482294,17.5068466 L12.25,17.5 L18.25,17.5 L12.25,17.5 Z M13.7533481,3.5 L10.2466519,3.5 C9.83428745,3.5 9.5,3.83428745 9.5,4.24665191 C9.5,4.65901638 9.83428745,4.99330383 10.2466519,4.99330383 L13.7533481,4.99330383 C14.1657126,4.99330383 14.5,4.65901638 14.5,4.24665191 C14.5,3.83428745 14.1657126,3.5 13.7533481,3.5 Z"
                                    id="๐จ-Color">
        
                                </path>
                            </g>
                        </g>
                    </svg>
                    <span>ูุณุฎ</span>
                </button>
            </div>
        </div>
    </div>
</div>
<%})%>
</div>
<script src="/filepond/dist/filepond.js"></script>
<script src="/filepond-plugin-media-preview/dist/filepond-plugin-media-preview.js"></script>
<script src="/filepond-plugin-file-validate-size/dist/filepond-plugin-file-validate-size.js"></script>
<script src="/filepond-plugin-image-edit/dist/filepond-plugin-image-edit.js"></script>
<script src="/filepond-plugin-image-exif-orientation/dist/filepond-plugin-image-exif-orientation.js"></script>
<script src="/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
<script src="/filepond-plugin-file-validate-type/dist/filepond-plugin-file-validate-type.js"></script>
<script src="/filepond-plugin-image-crop/dist/filepond-plugin-image-crop.js"></script>
<script src="/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>
<script src="/filepond-plugin-image-transform/dist/filepond-plugin-image-transform.js"></script>
<!-- video show -->
<script src="/filepond-plugin-video-preview/dist/filepond-plugin-video-preview.js"></script>
<!-- public js -->
 <script src="/axios/dist/axios.js"></script>
<script src="/js/post.js"></script>