<%-include('../partials/header.ejs')-%>
<link rel="stylesheet" href="/filepond/dist/filepond.css">
<link rel="stylesheet" href="/filepond-plugin-media-preview/dist/filepond-plugin-media-preview.css">
<link rel="stylesheet" href="/filepond-plugin-image-edit/dist/filepond-plugin-image-edit.css">
<link rel="stylesheet" href="/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css">
<!-- video -->
<link rel="stylesheet" href="/filepond-plugin-video-preview/dist/filepond-plugin-video-preview.css">
<div class="flex justify-between p-3">
    <div class="flex items-center">
        <a class="hover:bg-slate-200 rounded-full p-2 ml-2" href="/">
            <svg fill="#000000" width="30px" height="30px" viewBox="0 0 32 32"
                style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;" version="1.1"
                xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:serif="http://www.serif.com/"
                xmlns:xlink="http://www.w3.org/1999/xlink">
                <path
                    d="M25.468,14.508l-20.967,-0.008c-0.828,-0 -1.501,0.672 -1.501,1.499c-0,0.828 0.672,1.501 1.499,1.501l21.125,0.009c-0.107,0.159 -0.234,0.306 -0.377,0.439c-3.787,3.502 -9.68,8.951 -9.68,8.951c-0.608,0.562 -0.645,1.511 -0.083,2.119c0.562,0.608 1.512,0.645 2.12,0.083c-0,0 5.892,-5.448 9.68,-8.95c1.112,-1.029 1.751,-2.47 1.766,-3.985c0.014,-1.515 -0.596,-2.968 -1.688,-4.018l-9.591,-9.221c-0.596,-0.574 -1.547,-0.556 -2.121,0.041c-0.573,0.597 -0.555,1.547 0.042,2.121l9.591,9.221c0.065,0.063 0.127,0.129 0.185,0.198Z" />
                <g id="Icon" />
            </svg>
        </a>
        <h1>تعديل منشور</h1>
    </div>
    <div class="bg-gray-300 rounded-md p-3 cursor-pointer hover:bg-blue-700 hover:text-white">
        <a href="" id="update">التالي</a>
    </div>
</div>
<div class="container-uaudio flex flex-col">
    <div class="border-t-2 border-b-2 p-3">
        <input type="hidden" id="postId" name="postId" value="<%=post.id%>">
        <textarea class="w-full outline-none resize-none overflow-hidden min-h-72 p-2" name="post-text" id="post-text"
            placeholder="إكتب لتشارك افكارك..."><%= post.content%></textarea>
    </div>
    <div class="p-4">
        <h1>وسائط</h1>
    </div>
    <div class="flex flex-wrap p-3 gap-4">
        <%post.files.forEach((file)=>{%>
        <%if(file.match(imageExtensions)){%>
        <div>
            <div class="hover:bg-gray-200 rounded-md" onclick="delAudio(this,'<%=encodeURIComponent(file)%>')">
                <svg width="40px" height="40px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g id="Menu / Close_SM">
                        <path id="Vector" d="M16 16L12 12M12 12L8 8M12 12L16 8M12 12L8 16" stroke="#000000"
                            stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </g>
                </svg>
            </div>
            <img class="rounded-md pt-1 w-32 h-44" src="<%=file.replace('uploads','')%>" alt="img">
        </div>
        <%}else{%>
        <div>
            <div class="hover:bg-gray-200 rounded-md" onclick="delAudio(this,'<%=encodeURIComponent(file)%>')">
                <svg width="40px" height="40px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g id="Menu / Close_SM">
                        <path id="Vector" d="M16 16L12 12M12 12L8 8M12 12L16 8M12 12L8 16" stroke="#000000"
                            stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </g>
                </svg>
            </div>
            <video class="rounded-md pt-1 w-32 h-44" controls>
                <source src="<%=file.replace('uploads','')%>" type="video/mp4">
                <source src="<%=file.replace('uploads','')%>" type="video/ogg">
                متصفحك لا يدعم تشغيل الفيديو.
            </video>
        </div>
        <%}%>
        <%})%>
    </div>
    <div class="p-4">
        <input class="filepond" hidden type="file" name="audio" id="uAudio" multiple>
    </div>
</div>
<script src="/filepond/dist/filepond.js"></script>
<script src="/filepond-plugin-media-preview/dist/filepond-plugin-media-preview.js"></script>
<script src="/filepond-plugin-file-validate-size/dist/filepond-plugin-file-validate-size.js"></script>
<script src="/filepond-plugin-image-edit/dist/filepond-plugin-image-edit.js"></script>
<script src="/filepond-plugin-image-exif-orientation/dist/filepond-plugin-image-exif-orientation.js"></script>
<script src="/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
<script src="/filepond-plugin-file-validate-type/dist/filepond-plugin-file-validate-type.js"></script>
<script src="/filepond-plugin-image-crop/dist/filepond-plugin-image-crop.js"></script>
<script src="/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>
<script src="/filepond-plugin-image-transform/dist/filepond-plugin-image-transform.js"></script>
<!-- video show -->
<script src="/filepond-plugin-video-preview/dist/filepond-plugin-video-preview.js"></script>
<!-- public js -->
<script src="/js/post.js"></script>